<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load censor_filter %}
{% load custom_tags %}

{% block title %}
News_List
{% endblock title %}

{% block content %}
   <h1>Поиск</h1>
    <h5>Общее кол-во: {{news_list|length}}</h5>
    <hr>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
   <hr>
   {% if news_list %}
       <!-- Все новости выводятся списком, спец. тегом -->
       <ul>
           <!-- Применяем цикл for, проходимся по всем новостям и выводим. -->
           {% for onenw in news_list %}
           <li>
               <strong>Тип поста: </strong>{{ onenw.category.name }}<br>
               <strong>Заголовок: </strong>{{ onenw.name|censor }}<br>
               <!-- Дата публикации в формате день.месяц.год -->
               <strong>Дата публикации: </strong>{{ onenw.dateCreate|date:"d.m.Y | H:i" }}<br>
               <!-- Основной текст выводит только первые 20 символов и многоточие. -->
               <strong>Описание: </strong>{{ onenw.description|truncatechars:20|censor }}<br>
               <strong>Категория: </strong>{{ onenw.genre }}
               <!-- Пустой тег для текста, своего рода отступ. -->
               <p>
           </li>
           {% endfor %}
       </ul>
   {% else %}
       <h2>Пусто!</h2>
   {% endif %}
    {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
    <hr>
{% endblock content %}